{% load static%}
<div class="container-fluid">
    <div class="row">
        <div class="col-5 d-flex align-items-end" style="font-size: 90%;">
            Fachbereich {{wsinfo.Fachbereich}} <br>{{wsinfo.WerkstattName}}, {{wsinfo.Verantwortlicher}} <br>{{wsinfo.Straße}}, {{wsinfo.Ort}}
        </div>
        <div class="col-3 d-flex align-items-end text-end" style="font-size: 60%;">
            <span>Tel. {{wsinfo.Telefon}} <br>Fax. {{wsinfo.Fax}} <br>{{wsinfo.Kontakt}}</span>
        </div>
        <div class="col-4">
            <img src="{%static 'global_img/tud_logo.png' %}" class="img-fluid">
        </div>
    </div>
    <div class="row mt-5">
        <h2>Quittung</h2>
    </div>
    <div class="row mt-5">
        <div class="col-8">
            Von <strong>{{order.user.first_name}} {{order.user.last_name}}</strong>
        </div>
        <div class="col-4 text-end">
            <strong>{{order.price_str}}€</strong>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-8">
            {{order.purposeString}}
        </div>
        <div class="col-4 text-end">
            dankend erhalten.
        </div>
    </div>
    <div class="row">
        <div class="col-8">

        </div>
        <div class="col-4 text-end" style="font-size: 60%">
            Im Betrag sind {{wsinfo.MwSt}}% MwSt. enthalten.
        </div>
    </div>
    <div class="row">
        <div class="col-5 mt-5">
            Darmstadt, den {{order.date_ordered}}
        </div>
        <div class="col-7 d-flex align-items-end justify-content-center">
            _______________________________________
        </div>
    </div>
    <div class="row">
        <div class="col-5" style="font-size: 50%">
            TU Darmstadt USt.-Id. {{wsinfo.UStID}} - St.Nr. {{wsinfo.Steuernummer}}
        </div>
        <div class="col-7 text-center" style="font-size: 60%">
            Stempel und Unterschrift
        </div>
    </div>
</div>