                        {% for order in orders %}
                            <tr>
                                <td class="text-center align-middle" id="orderAutoBilling_{{order.id}}">{{order.id}}</th>
                                <td class="text-center align-middle" id="orderAutoBilling_{{order.id}}_name"> {{order.user.last_name}}, {{order.user.first_name}}</td>
                                <td class="text-center align-middle" id="orderAutoBilling_{{order.id}}_date_ordered">{{order.date_ordered | date:'d.m.Y - H:i'}}</td>
                                <td class="text-center align-middle" id="orderAutoBilling_{{order.id}}_price">{{order.price_str}} €</td>
                            </tr>
                        {% endfor %}