{% load static %}

<footer class="footer mt-auto text-center text-white" id="footerMain">
    <div class="container">
        <section>
            <a class="btn btn-floating m-1 footerText" href="/datenschutz"><h5>Datenschutzerklärung</h5></a>
            <a class="btn btn-floating m-1 footerText" href="/agb"><h5>AGB</h5></a>
            <a class="btn btn-floating m-1 footerText" href="/impressum"><h5>Impressum</h5></a>
        </section>
    </div>
</footer>

<!-- Global JS Imports -->
<script src="{% static 'libraries/axios/axios.min.js' %}"></script>
<script src="{% static 'libraries/jquery/jquery-3.6.0.slim.min.js' %}"></script>
<script src="{% static 'libraries/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'global_js/util.js' %}"></script>
<script src="{% static 'navbar/navbar.js' %}"></script>